## Ignore Visual Studio temporary files, build results

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# appsettings
appsettings.Development.json
appsettings.*.json
!appsettings.json

# Database
*.db
*.db-shm
*.db-wal
